.social-icons a {
  text-decoration: none;
  width: 80px;
  height: 80px;
  text-align: center;
  position: relative;
  padding: 10;
}
body {
  background-image: url("img.jpeg");
  background-size: cover;
  width: 100%;
}
.person-img {
  height: auto;
  width: 300px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-color {
  color: aliceblue;
}


.about {
  font-size: 30;
  font-weight: bold;
}
.social-icons .fa-brands {
  font-size: 50px;
  width: 50px;
  height: 50px;
  line-height: 10px;
}

.social-icons .icon {
  cursor: pointer;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-icons {
  display: inline-flex;
  margin-top: 40px;
}
@media (min-width: 1300px) {
  .container{
       width: 30%;
       height: auto;
       color: white;
       padding: 16px;
       box-shadow: 0px 0px 5px #444444;
       border-radius: 7px;
       background: rgba(0, 0, 0, 0.4);
       text-align: center;
  }
}
@media (max-width: 1500px) {
  .container{
       width:40%;
       height: auto;
       color: white;
       padding: 16px;
       box-shadow: 0px 0px 5px #444444;
       border-radius: 8px;
       background: rgba(0, 0, 0, 0.4);
       text-align: center;
  }
}
.social-icons .icon a {
  position: relative;
  z-index: 2;
  height: 40px;
  width: 40px;
  display: block;
  background-color: transparent;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.social-icons .icon a i {
  line-height: 40px;
  font-size: 30px;
  margin-left: -5px;
}
.social-icons .icon .title {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  top: 0px;
  position: absolute;
  background: #fff;
  font-size: 17px;
  padding: 10px 10px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-icons .icon .title:before {
  margin-left: 40px;
  position: absolute;
  background: #fff;
  content: "";
  height: 15px;
  width: 15px;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
}
.social-icons .icon:hover .title {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
}
.social-icons .iccon:hover a i {
  color: aqua;
}
.social-icons .icon:hover .title {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.social-icons .facebook:hover a,
.social-icons .facebook:hover .title,
.social-icons .facebook:hover .title::before {
  background: #3b5999;
}
.social-icons .github:hover a,
.social-icons .github:hover .title,
.social-icons .github:hover .title::before {
  background: #171515;
}
.social-icons .instagram:hover a,
.social-icons .instagram:hover .title,
.social-icons .instagram:hover .title::before {
  background: #8a3ab9;
}
.social-icons .icon:hover a i {
  color: #fff;
}
.hr {
  width: 200px;
  background-color: white;
  height: 1px;
}
